.App{
  align-items: center;
}

.App-header{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Movie-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px ;
  flex-wrap: wrap;
}

.Movie-wrapper{
  width: 500px;
  background-color: #361818;
  color: rgb(228, 228, 228);
  text-align: center;
}

.Movie-search{
  height: 32px;
  font-size: 24px;
  margin-bottom: 32px;
  padding: 12px;
  font-weight: bold;
  width: 475px;
}

.Movie-title{
  height: 60px;
  margin-top: 26px;
  font-weight: bold;
  text-align: center;
  font-size: 32px;
}

.Movie-date{
  font-style: italic;
  margin-bottom: 26px;
  font-size: 24px;
}

.Movie-rate{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 26px;
}